@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--main-color: #FBFCFC;
	--primary-color: #FFFFFF;
	--secondary-color: #5F6A6A;
	--tertiary-color: #6D4C41;
	--main-padding: 15px 20px;
	--nav-padding: 10px;
	--main-margin: 15px 20px;
	--nav-padding: 10px;
	--main-font: 'poppins', sans-serif;
	--primary-font: 'roboto', sans-serif;
	--secondary-font: 'raleway', sans-serif;
}

root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	font-family: var(--main-font);
}

.nav {
	font-family: var(--primary-font);
	list-style-type: none;
}